@model IEnumerable<Otlob.Core.ViewModel.OrderedMealsVM>

@using Microsoft.AspNetCore.Identity
@using Otlob.Core.IServices
@using Otlob.Services.Results
@using static Otlob.Services.OrderedMealsService

@inject IEncryptionService encryptioService

<div class="card shadow border-0">
    <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    Shopping Cart
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body my-4"> </div>

    <div class="row"></div>

        <div class="row mb-3 pb-3">
            <div class="col-md-2 offset-md-1">
                <a asp-action="Cart" asp-controller="Cart" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Back to cart</small></a>
            </div>
        </div>

        @foreach (var item in Model)
        {
            string encId = encryptioService.EncryptId(item.Id);

            <div class="col-md-10 offset-md-1">
                <div class="row border-bottom pb-3">
                    <div class="d-none d-lg-block col-lg-1 text-center py-2">
                        <img alt="MealLogo" class="rounded" width="100%" src="data:image/*;base64,@(Convert.ToBase64String(item.Image))" />
                    </div>
                    <div class="col-12 col-lg-6 pt-md-3">
                        <h5 class="text-uppercase text-secondary"><strong>@item.MealName</strong></h5>
                        <p><small>@item.MealDescription</small></p>
                    </div>

                    <div class="col-12  col-lg-5 text-center row">
                        <div class="col-3 text-md-right pt-2 pt-md-4">
                            <h6 class="fw-semibold">
                                @item.PricePerMeal.ToString("0.00")
                                <span class="text-muted">&nbsp;x&nbsp;</span>@item.Quantity
                                <br />
                                <span class="text-muted">= </span>@( (item.Quantity * item.PricePerMeal).ToString("0.00") ) L.E"
                            </h6>
                        </div>
                        <div class="col-6 col-sm-4 col-lg-6 pt-2">
                            <div class="w-75 btn-group" role="group">
                                <a class="btn btn-outline-primary bg-gradient py-2" asp-action="ChangeMealQuantity" asp-route-id="@encId" asp-route-type="@MealQuantity.Increase">
                                    <i class="fa-solid fa-plus"></i>
                                </a> &nbsp;
                                <a class="btn btn-outline-primary bg-gradient py-2" asp-action="ChangeMealQuantity" asp-route-id="@encId" asp-route-type="@MealQuantity.Decrease">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                            <a class="btn btn-danger bg-gradient py-2" asp-action="DeleteOrderedMeal" asp-route-id="@encId"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>               
        }
</div>
