@using Otlob.Core.Contracts.ViewModel
@model PaginationVM<TrackOrderVM>

<style>
    .pagination .page-item.active .page-link {
    background-color: rgb(192, 40, 16);
    border-color: rgb(192, 40, 16);
    }

    .pagination .page-link {
    color: rgb(192, 40, 16);
    }

    .pagination .page-link:hover {
    color: #fff;
    background-color: rgb(192, 40, 16);
    border-color: rgb(192, 40, 16);
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Your Orders
            </th>
            <th>
                Your Order Status
            </th>
            <th>
                Your Order Date
            </th>
            <th>More Details</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Items) 
        {
            <tr>
                <td>
                    <img alt="RestaurantLogo" class="avatar rounded-circle" src="/images/@(item.RestaurantImage is not null ? item.RestaurantImage : "Default.jpg")" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>         
                <td>
                    @item.OrderDate.ToString("dd/MM/yyyy hh:mm:ss tt")
                </td>   
                <td>
                    <a class="btn btn-success" asp-action="OrderDetails" asp-route-id="@item.OrderId">Details</a>
                </td>            
            </tr>
        }        
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="TrackOrders" asp-route-CurrentPageNumber="@(Model.CurrentPageNumber - 1)">
                    Previous
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.CurrentPageNumber)
            {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="TrackOrders" asp-route-CurrentPageNumber="@i">@i</a>
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="TrackOrders" asp-route-CurrentPageNumber="@(Model.CurrentPageNumber + 1)">
                    Next
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
    </ul>
</nav>

