@using Microsoft.AspNetCore.Identity
@using Otlob.Core.Models
@inject UserManager<ApplicationUser> userManager
@model IEnumerable<Otlob.Core.Models.UserComplaint>

<h4 class="text-capitalize text-danger fw-bold">Customer Complaints</h4>
<hr />

<style>
    table {
        min-width: 1300px;
    }
    table .cell {
        min-width: 200px;
    }
</style>

<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th class="cell">
                From Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                Customer Complaint
            </th>
            <th class ="cell">
                Complaint Uploaded At
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="cell">
                Customer Contacts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var user = userManager.FindByIdAsync(item.UserId);

            <tr>
                <td>
                    @if (user?.Result?.Image != null)
                        {
                        <img class="avatar rounded-circle" alt="Profile Picture" src="data:image/*;base64,@(Convert.ToBase64String(user.Result.Image))" />
                        }
                        else {
                            <img class="avatar rounded-circle" src="~/images/Default.jpg" alt="Customer Profile Picture" />
                        }
                    @Html.DisplayFor(modelItem => item.User.UserName)                
                </td>
                <td class="cell">
                    @* <img class="avatar rounded-circle" src="/images/resturantLogo/@item.Restaurant.Image" /> *@
                    <img class="avatar rounded-circle" alt="restaurantLogo" src="data:image/*;base64,@(Convert.ToBase64String(item.Restaurant.Image))" />
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    Customer Phone : <strong class="text-success">@item.User.PhoneNumber</strong> <br />
                    Customer Email : <strong class="text-success">@item.User.Email</strong> <br />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="cell">
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
