@model RestaurantVM

<div>
    <a class="btn btn-primary mb-2" asp-action=@(Model.AcctiveStatus == AcctiveStatus.UnAccepted ? "ResturatnRequist" : "ActiveResturatns") asp-controller="Restaurants">←</a>   
</div>


<img class="avatar rounded-circle" alt="restaurantLogo" src="/images/@(Model.Image is not null ? Model.Image : "Default.jpg")" />

<span>@Model.Name</span>
<div>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>                
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDuration)
        </dd>
        @if (Model.AcctiveStatus == AcctiveStatus.UnAccepted) 
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AcctiveStatus)
            </dt>

            <dd class = "col-sm-10">
                <a class="btn btn-success" asp-controller="RestaurantStatus" asp-action="ChangeRestaurantStatus" asp-route-id="@Model.Key" asp-route-status="@AcctiveStatus.Acctive">Accept Resturant</a>
            </dd>
        }
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-controller="RestaurantProfile" asp-action="EditRestaurantProfile" asp-route-id="@Model.Key">Resturant Profile</a>
    <a class="btn btn-primary" asp-controller="UserProfile" asp-action="UserProfile" asp-route-id="@Model.UserId">Resturant Admin Profile</a>
    <a class="btn btn-warning" asp-controller="RestaurantMeals" asp-action="RestaurantMeals" asp-route-id="@Model.Key">Meals</a>
    <a class="btn btn-secondary" asp-controller="RestaurantMeals" asp-action="RestaurantDeletedMeals" asp-route-id="@Model.Key">Deleted Meals</a>
    <a class="btn btn-success" asp-controller="RestaurantOrders" asp-action="CurrentRestaurantOrders" asp-route-id="@Model.Key">Current Restaurant Orders</a>
    <a class="btn btn-secondary" asp-controller="RestaurantOrders" asp-action="CompletedRestaurantOrders" asp-route-id="@Model.Key">Completed Restaurant Orders</a>
    <a class="btn btn-danger mt-2" asp-action="ResturantComplaints" asp-route-id="@Model.Key">Complaints</a>
</div>

@section Scripts {
    <partial name="_NotificationPartial"></partial>
}