@model IEnumerable<RepositoryPatternWithUOW.Core.Models.Meal>
@using Utility
@{
    ViewData["Title"] = "Home Page";
}

<div class="articles" id="articles">
    <form class="search" action="" method="post">
        <input type="text" id="searchBar" placeholder="Enter Your Meal" name="query" />
    </form>

    <div class="container">

        @foreach (var item in Model)
        {
            <div class="menue" data-name="@item.Name">
                <div class="image">
                    @if (item.IsNewMeal)
                    {
                        <span class="meal new">New Meal</span>
                    }
                    else if (item.IsTrendingMeal) 
                    {
                        <span class="meal trend">Treanding</span>
                    }
                    @if (item.ImageUrl is not null)
                    {
                        <img src="~/images/meals/@item.ImageUrl" alt="resturantLogo">
                    }
                    else
                    {
                        <img src="~/images/Default.jpg" alt="resturantLogo">
                    }
                </div>                
                <div class="text">
                    <h3>@item.Name</h3>
                    <p>Price: <span>@item.Price.ToString("C")</span></p>
                    <p>Category: @item.Category</p>
                    <p>Enough To: @item.NumberOfServings</p>
                </div>
                <a class="card-button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-categoryid="@item.Id" data-categoryname="@item.Name" data-resturantid="@item.RestaurantId"><i class="bi bi-plus"></i></a>
            </div>
        }
    </div>
</div>


<!-- Modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @* <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Add Item Choices</h5>
            </div>             *@
            <div class="modal-footer">
                <img src="/images/landing/food5.png" />
                <form id="deleteForm" method="post" asp-action="AddMeal">
                    <input type="hidden" name="MealId" id="categoryIdInput" value="" />
                    <input type="hidden" name="MealName" id="categoryNameInput" value="" />
                    <input type="hidden" name="RestaurantId" id="resturantIdInput" value="" />
                    <input class="quant" type="number" name="Quantity" placeholder="Enter Meal Quantity" min="1" />
                    <textarea name="MealDescription" placeholder="Write your Discreption, what is your additions if you want like (Spicy, Extra cheese)"></textarea>
                    <button type="submit">Add to cart</button>
                </form>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

            var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var categoryId = button.getAttribute('data-categoryid');
            var categoryName = button.getAttribute('data-categoryname');
            var resturantId = button.getAttribute('data-resturantid');
            var inputId = document.getElementById('categoryIdInput');
            var inputName = document.getElementById('categoryNameInput');
            var inputResturantId = document.getElementById('resturantIdInput');
            inputId.value = categoryId;
            inputName.value = categoryName;
            inputResturantId.value = resturantId;
        });

        document.getElementById('searchBar').addEventListener('input', function () {
            const query = this.value.toLowerCase();
            const restaurants = document.querySelectorAll('.menue');

            restaurants.forEach(function (restaurant) {
                const name = restaurant.getAttribute('data-name').toLowerCase();
                if (name.includes(query)) {
                    restaurant.style.display = '';
                } else {
                    restaurant.style.display = 'none';
                }
            });
        });

        var inp = document.querySelector("#deleteForm .quant");
        inp.oninput = () => {
            if (inp.value < 1)
                inp.value = 1;
            else if (inp.value > 99)
                inp.value = 99;
        };

    </script>
}