@model IQueryable<MealVm>
@{
    ViewData["Title"] = "meals";
}

<link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>

<div class="articles" id="articles">
    <form class="search" action="" method="post">
        <input type="text" id="searchBar" placeholder="Enter Your Meal" name="query" />
    </form>

    <div class="icons">
        <a class="fMeals" asp-action="Details" asp-route-filter="new" asp-route-id="@ViewBag.ResId">New Meals</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="trend" asp-route-id="@ViewBag.ResId">Trending Meals</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="main" asp-route-id="@ViewBag.ResId">Main Course</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="grilled" asp-route-id="@ViewBag.ResId">Grilled</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="Drink" asp-route-id="@ViewBag.ResId">Drinks</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="Desserts" asp-route-id="@ViewBag.ResId">Desserts</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="Bakeries" asp-route-id="@ViewBag.ResId">Bakeries</a>
        <a class="fMeals" asp-action="Details" asp-route-filter="all" asp-route-id="@ViewBag.ResId">All Meals</a>
    </div>


    <div class="container">
    @if(Model.Any()) 
    {
        var count = 1;
        @foreach (var item in Model)
        {
            <div class="menue" data-name="@item.Name">
                <div class="image">
                    @if (item.IsNewMeal)
                    {
                        <span class="meal new">New Meal</span>
                    }
                    else if (item.IsTrendingMeal) 
                    {
                        <span class="meal trend">Treanding</span>
                    }                   
                    
                    <img alt="mealLogo" src="/images/@(item.Image is not null ? item.Image : "Default.jpg")"/>                    
                </div>                
                <div class="text">
                    <h3>@item.Name</h3>
                    <p id="mealPrice-@count" data-mealPrice="@item.Price">Price: <span>@item.Price.ToString("0.00") L.E</span></p>
                    <p >Enough To: @item.NumberOfServings</p>
                </div>
                <a class="card-button" id="logo" data-count="@count" data-logo="/images/@item.Image"
                   data-bs-toggle="modal" data-bs-target="#deleteModal" data-categoryid="@item.MealVmId"
                   data-categoryname="@item.Name" data-resturantid="@ViewBag.ResId"><i class="bi bi-plus"></i>
               </a>
            </div>
            count++;
        }
    }
    else
    {
        <p>No meals available for the selected filter.</p>
    }
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Add Meal to Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body-container">
                    <div class="modal-image">
                        <img id="mealImage" src="" alt="Meal Image" />
                    </div>
                    <form id="deleteForm" method="post" asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="MealId" id="categoryIdInput" value="" />
                        <input type="hidden" name="MealName" id="categoryNameInput" value="" />
                        <input type="hidden" name="resId" id="resturantIdInput" value="" />
                        <input type="hidden" name="PricePerMeal" id="mealPriceInput" value="" />

                        <label for="quantity" class="form-label">Quantity</label>
                        <input class="form-control" type="number" name="Quantity" id="quantity" placeholder="Enter Quantity" value="1" min="1" max="99" required />

                        <label for="mealDescription" class="form-label">Description</label>
                        <textarea id="mealDescription" name="MealDescription" class="form-control" placeholder="Write your Discreption, what is your additions if you want like (Spicy, Extra cheese)" rows="3"></textarea>

                        <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        const logoElement = document.querySelectorAll("#logo");
        logoElement.forEach(m => {
            m.onclick = () => {
                var imageUrl = m.getAttribute("data-logo");
                var buttonCount = m.getAttribute("data-count");

                var imageElement = document.getElementById("mealImage");

                var itemWithMealPrice = document.getElementById(`mealPrice-${buttonCount}`);
                var inputMealPrice = document.getElementById('mealPriceInput');
                var mealPrice = itemWithMealPrice.getAttribute('data-mealPrice');

                if (logoElement && imageElement && inputMealPrice) {
                    if (imageUrl && buttonCount) {
                        imageElement.src = `${imageUrl}`;
                        inputMealPrice.value = mealPrice;
                    }
                }
            }
        })

        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var categoryId = button.getAttribute('data-categoryid');
            var categoryName = button.getAttribute('data-categoryname');
            var resturantId = button.getAttribute('data-resturantid');


            var inputId = document.getElementById('categoryIdInput');
            var inputName = document.getElementById('categoryNameInput');
            var inputResturantId = document.getElementById('resturantIdInput');
            inputId.value = categoryId;
            inputName.value = categoryName;
            inputResturantId.value = resturantId;
        });

        document.getElementById('searchBar').addEventListener('input', function () {
            const query = this.value.toLowerCase();
            const restaurants = document.querySelectorAll('.menue');

            restaurants.forEach(function (restaurant) {
                const name = restaurant.getAttribute('data-name').toLowerCase();
                if (name.includes(query)) {
                    restaurant.style.display = '';
                } else {
                    restaurant.style.display = 'none';
                }
            });
        });

        var inp = document.querySelector("#deleteForm .form-control");
        inp.oninput = () => {
            if (inp.value < 1)
                inp.value = 1;
            else if (inp.value > 99)
                inp.value = 99;
        };

    </script>
}