@model IQueryable<RestaurantVM>

@{
    ViewData["Title"] = "Restaurants";
}

<link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>

<div class="articles" id="articles">
        <form class="search" action="" method="Get">
            <input type="text" id="searchBar" placeholder="Enter Restaurant Name" name="query" />
        </form>

        <div class="icons">       
            <a asp-action="Index" asp-route-filter="burger"><img src="/images/icons/burger.png" alt="Burger" /></a>
            <a asp-action="Index" asp-route-filter="pizza"><img src="/images/icons/pizza.png" alt="Pizza" /></a>
            <a asp-action="Index" asp-route-filter="shawarma"><img src="/images/icons/shawrma.png" alt="Shawarma" /></a>
            <a asp-action="Index" asp-route-filter="sandwich"><img src="/images/icons/sandwich.png" alt="Sandwich" /></a>
            <a asp-action="Index" asp-route-filter="grill"><img src="/images/icons/grill.jpg" alt="Grill" /></a>
            <a asp-action="Index" asp-route-filter="dessert"><img src="/images/icons/cookies.png" alt="Dessert" /></a>
            <a asp-action="Index" asp-route-filter="koshary"><img src="/images/icons/koshary.jpg" alt="Koshary" /></a>
            <a asp-action="Index" asp-route-filter="all"><img src="/images/icons/all.png" alt="All" /></a> 
        </div>    

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="menue" data-name="@item.Name">
                <img alt="RestaurantLogo" src="/images/@(item.Image is not null ? item.Image : "Default.jpg")" />
                <div class="text">
                    <h3>@item.Name</h3>
                    <p>Delivery Fee: @item.DeliveryFee.ToString("0.00") L.E</p>
                    <p>Delivery Time: @item.DeliveryDuration.ToString("0.00") M</p>
                </div>               
                               
                <a class="card-button" asp-action="Details" asp-route-id="@item.Key">Menue</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('searchBar').addEventListener('input', function () {
            const query = this.value.toLowerCase();
            const restaurants = document.querySelectorAll('.menue');

            restaurants.forEach(function (restaurant) {
                const name = restaurant.getAttribute('data-name').toLowerCase();
                if (name.includes(query)) {
                    restaurant.style.display = '';
                } else {
                    restaurant.style.display = 'none';
                }
            });
        });

        window.addEventListener('load', function() {
            window.scrollTo(0, 800);
        });
    </script>
    <partial name="_NotificationPartial"></partial>
}