@using RepositoryPatternWithUOW.Core.Models
@model IEnumerable<RepositoryPatternWithUOW.Core.Models.Restaurant>

@section Notify {
    <partial name="_NotificationPartial"></partial>
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-success">
                Our Resturatns Partners
            </th>
            <th>
                Resturant Status
            </th>
            <th>
                Take Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.Logo != null)
                        {
                            <img class="avatar rounded-circle" alt="Resturant Logo" src="~/images/resturantLogo/@item.Logo" />
                        }
                        else
                        {
                            <img class="avatar rounded-circle" alt="Resturant Logo" src="~/images/Default.jpg" />
                        }
                    }
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.AcctiveStatus == AcctiveStatus.Acctive) {
                        <p class="text-success fw-bolder">@item.AcctiveStatus</p>
                    }
                    else if (item.AcctiveStatus == AcctiveStatus.Warning) {
                        <p class="text-warning fw-bolder">@item.AcctiveStatus</p>
                    }
                    else if (item.AcctiveStatus == AcctiveStatus.Block)
                    {
                        <p class="text-danger fw-bolder">@item.AcctiveStatus</p>
                    }
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Resturants" asp-action="ResturantDetails" asp-route-id="@item.Id">Resturant Details</a>
                    @if (item.AcctiveStatus == AcctiveStatus.Warning) 
                    {
                        <a class="btn btn-secondary text-light" asp-controller="RestaurantStatus" asp-action="AcceptResturant" asp-route-id="@item.Id">UnWarning</a>
                        <a class="btn btn-danger" asp-controller="RestaurantStatus" asp-action="BlockResturant" asp-route-id="@item.Id">Block Resturant</a>
                    }
                    else if (item.AcctiveStatus == AcctiveStatus.Block) 
                    {
                        <a class="btn btn-warning text-light" asp-controller="RestaurantStatus" asp-action="WarnResturant" asp-route-id="@item.Id">Send Warning To Resturant</a>
                        <a class="btn btn-secondary text-light" asp-controller="RestaurantStatus" asp-action="AcceptResturant" asp-route-id="@item.Id">UnBlock Resturant</a>
                    }
                    else 
                    {
                        <a class="btn btn-warning text-light" asp-controller="RestaurantStatus" asp-action="WarnResturant" asp-route-id="@item.Id">Send Warning To Resturant</a>
                        <a class="btn btn-danger" asp-controller="RestaurantStatus" asp-action="BlockResturant" asp-route-id="@item.Id">Block Resturant</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
