@using Utility
@model Otlob.Core.ViewModel.ProfileVM

@section Profile {
    <partial name="_ProfilePartial"></partial>
}
@section Notify {
    <partial name="_NotificationPartial"></partial>
}

<div class="profile">
    <div class="info">
        <div class="home">
            <a asp-controller="Home" asp-action="Index">Home </a>
            <span>></span>
            <span>Account</span>
        </div>
        <h2>My Account</h2>
    </div>
    <hr class="line" />
    <div class="links">
        <a href="#" class="active">Account Info</a>
        <a href="#">Saved Addresses</a>
        <a href="#">My Orders</a>
    </div>
    <form asp-action="Profile">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@Model.Email" disabled/>
            <div>
                <a href="#">CHANGE EMAIL</a>
                <a href="#">CHANGE PASSWORD</a>
            </div>
            <span asp-validation-for="Email" class="text-danger message"></span>
        </div>

        <div class="field">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" value="@Model.FirstName"/>
            <span asp-validation-for="FirstName" class="text-danger message"></span>
        </div>

        <div class="field">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" value="@Model.LastName"/>
            <span asp-validation-for="LastName" class="text-danger message"></span>
        </div>   

        <div class="field">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger message"></span>
        </div>   
        
        <div  class="field">
            <label asp-for="BirthDate"></label>
            <input type="date" asp-for="BirthDate" value="@Model.BirthDate.Value.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="BirthDate" class="text-danger message"></span>
        </div> 

        <div class="field">
            <label asp-for="Gender"></label>
            <select asp-for="Gender">
                <option >@Gender.Male</option>
                <option >@Gender.Female</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger message"></span>
        </div>

        <button type="submit">Update</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
