@inject SignInManager<ApplicationUser> SignInManager

@{
    string? userImageProfile = User.FindFirstValue(StaticData.UserImageProfile);
    bool isUserLogedIn = SignInManager.IsSignedIn(User);
}

<div class="links">
    @if (!SignInManager.IsSignedIn(User))
    {
        <a asp-area="@DefaultRoles.Customer" asp-controller="Home" asp-action="Home">Home</a>
        <a asp-area="@DefaultRoles.Customer" asp-controller="BecomeAPartner" asp-action="BecomeAPartner">Become A Partner</a>
    }    
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="@User.FindFirstValue(ClaimTypes.Role)" asp-controller="Home" asp-action="Index">Home</a>
        @if (User.IsInRole(DefaultRoles.Customer))
        {
            <a asp-area="@DefaultRoles.Customer" asp-controller="Cart" asp-action="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
        }
    }     
</div>
<div class="menu-container">
    <div class="burger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="dropdown-menu" id="menu">
        @if (isUserLogedIn)
        {
            <li class="nav-item">
                <img class="avatar rounded-circle" alt="Profile Picture" src="/images/@(userImageProfile is not null ? userImageProfile : "Default.jpg")"/>
            </li>

            @if (User.FindFirstValue(ClaimTypes.Role) == DefaultRoles.RestaurantAdmin)
            {
                <li><a asp-area="@DefaultRoles.RestaurantAdmin" asp-controller="RestaurantProfile" asp-action="EditRestaurantProfile">Your Restaurant Profile</a></li>
                <li><a asp-area="@DefaultRoles.RestaurantAdmin" asp-controller="RestaurantBusinessDetails" asp-action="BusinessDetails">Your Business Details</a></li>
            }

            <li><a asp-area=@DefaultRoles.Customer asp-controller="UserProfile" asp-action="UserProfile">Profile</a></li>
            
            @if (User.IsInRole(DefaultRoles.Customer))
            {
                <li><a asp-area=@DefaultRoles.Customer asp-action="TrackOrders" asp-controller="OrdersHistory">My Orders</a></li>
                <li><a asp-area=@DefaultRoles.Customer asp-action="SavedAddresses" asp-controller="Address">Saved Addresses</a></li>
            }

            <li><a asp-area=@DefaultRoles.Customer asp-controller="Account" asp-action="Logout">Logout</a></li>
        }
        else
        {
            <li><a asp-area=@DefaultRoles.Customer asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area=@DefaultRoles.Customer asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-area=@DefaultRoles.Customer asp-controller="Account" asp-action="ResendEmailConfirmation">Resend email confirmation</a></li>
        }
    </ul>
</div>