@model Order

@inject IEncryptionService encryptionService

@{  
    string encryptedId = encryptionService.EncryptId(Model.Id);
    var user = Model.User;
}

<div class="container py-4">    
    <div id="ordersRow" class="row g-4 mb-5">            
        <div class="col-12 col-md-6 col-lg-4 order-card">
            <div class="card-modern">
                <div class="card-header-modern d-flex justify-content-between">
                    <span>Order #@Model.Id</span>                       
                </div>
                <div class="card-body-modern">
                    <div class="orderUserDetails p-0"></div>
                    <p>
                        <strong>Date:</strong>
                        @Model.OrderDate.ToString("yyyy-MM-dd HH:mm:ss tt")
                    </p>
                    <p><strong>Sub Price:</strong> @Model.TotalMealsPrice L.E</p>
                    <p><strong>Delivery Fee:</strong> @Model.TotalTaxPrice L.E</p>
                    <p><strong>Total Price:</strong> @Model.TotalOrderPrice L.E</p>
                    <p><strong>Paynent Method:</strong> @Model.Method</p>
                    <hr />
                    <p class="mb-1">
                        <strong>Status:</strong>
                        <span class="badge bg-@(Model.Status == OrderStatus.Pending ? "secondary" :
                                Model.Status == OrderStatus.Preparing ? "warning" :
                                "info")">
                            @Model.Status
                        </span>
                    </p>

                    <div class="d-flex flex-wrap gap-2 mt-2">
                        <button class="view-details btn btn-modern btn-outline-primary"
                                data-id="@Model.Id">
                            View User
                        </button>
                        <a class="btn btn-modern btn-outline-success"
                            asp-controller="Orders"
                            asp-action="Details"
                            asp-route-id="@encryptedId">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>