@using Otlob.Core.Contracts.Authentication
@model IQueryable<MealVm>

<table class="table">
    <thead>
        <tr>
            <th>
                Logo
            </th>
            <th>
                Meal Name
            </th>
            <th>
                Meal Price
            </th>
            <th>
                More Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="avatar rounded-circle" alt="MealLogo" src="@(item.Image is not null ? item.Image : "~/images/Default.jpg")" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="MealDetails" asp-route-id="@item.Key">Meal Details</a>
                    <a class="btn btn-primary" asp-action="MealPriceHistoryDetails" asp-route-id="@item.Key">Meal Price History</a>
                    <a class="btn btn-danger" asp-action="UnDeleteMeal" asp-route-id="@item.Key">UnDelete Meal</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_NotificationPartial"></partial>
}